<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include "header.html" %}
    <main>
        <h1>About Us</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellat, similique? Tempore optio enim nisi ratione! Perspiciatis, sit laudantium? Tempora possimus fugiat praesentium, ipsa eaque nemo aliquam iste explicabo asperiores et.</p>
    </main>
    {% include "footer.html" %}
</body>
</html>