<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
</head>
<body>
    {% include "header.html" %}
    <main>
        <h1>Contact Us</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illo dolore iure cupiditate nostrum corrupti quia aut, adipisci enim? Consequatur nobis aperiam quae, iure quis sunt earum cum dicta possimus enim!</p>
    </main>
    {% include "footer.html" %}
</body>
</html>